In [12]:
import configparser
import psycopg2
from sql_queries import copy_table_queries, insert_table_queries

def load_staging_tables(cur, conn):
    '''Loads the event and songs staging tables from s3 buckets 
       by executing queries in copy_table_queries array'''
    for query in copy_table_queries:
        cur.execute(query)
        conn.commit()


def insert_tables(cur, conn):
    '''Loads the fact and dimension tables from the staging tables
       by executing queries in insert_table_queries array'''
    for query in insert_table_queries:
        cur.execute(query)
        conn.commit()

In [13]:
def main():
    '''Loads the staging, fact and dimension tables 
       by executing load_staging_tables and insert_tables functions'''
    config = configparser.ConfigParser()
    config.read('dwh.cfg')

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()
    
    load_staging_tables(cur, conn)
    insert_tables(cur, conn)


    conn.close()


main()

In [14]:
import os 
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT = config.get("CLUSTER","HOST")

%load_ext sql
conn_string='postgresql://{}:{}@{}:{}/{}'.format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://awsuser:Jishnu8703@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

In [15]:
%%sql
SELECT COUNT(*) FROM staging_events;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8056,)]

In [16]:
%%sql
select COUNT(*) from staging_songs;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [17]:
%%sql
SELECT COUNT(*) FROM users;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(104,)]

In [18]:
%%sql
select COUNT(*) from songs;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [19]:
%%sql
SELECT COUNT(*) FROM artists;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(9936,)]

In [20]:
%%sql
select COUNT(*) from time;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6813,)]

In [21]:
%%sql
select COUNT(*) from songplay;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6820,)]