In [ ]:
import configparser
import psycopg2
from sql_queries import copy_table_queries, insert_table_queries

def load_staging_tables(cur, conn):
    for query in copy_table_queries:
        print(query)
        cur.execute(query)
        conn.commit()


def insert_tables(cur, conn):
    for query in insert_table_queries:
        print(query)
        cur.execute(query)
        conn.commit()

print(copy_table_queries)
print(insert_table_queries)

In [ ]:
def main():
    config = configparser.ConfigParser()
    config.read('dwh.cfg')

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()
    
    load_staging_tables(cur, conn)
    insert_tables(cur, conn)


    conn.close()


main()

In [22]:
import os 
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT = config.get("CLUSTER","HOST")

%load_ext sql
conn_string1="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
conn_string = 'postgresql://awsuser:Jishnu8703@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev' 
print(conn_string1)
print(conn_string)
#%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

NameError: name 'DWH_ENDPOINT' is not defined

In [12]:
%%sql
SELECT COUNT(*) FROM staging_events;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8056,)]

In [14]:
%%sql
select COUNT(*) from staging_songs;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [15]:
%%sql
SELECT COUNT(*) FROM users;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(104,)]

In [16]:
%%sql
select COUNT(*) from songs;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [17]:
%%sql
SELECT COUNT(*) FROM artists;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(10025,)]

In [18]:
%%sql
select COUNT(*) from time;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6813,)]

In [19]:
%%sql
select COUNT(*) from songplay;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6820,)]

In [21]:
%%sql
select COUNT(*) from staging_songs;
SELECT COUNT(*) FROM users;
select COUNT(*) from songs;
SELECT COUNT(*) FROM artists;
select COUNT(*) from time;
select COUNT(*) from songplay;
SELECT COUNT(*) FROM staging_events;

 * postgresql://awsuser:***@mydwhcluster.crsvwraithvq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[(8056,)]